[submodule "sources/BrandonRoehl"]
	path = sources/BrandonRoehl
	url = git@github.com:BrandonRoehl/scripts.git
[submodule "sources/whoisronnoc"]
	path = sources/whoisronnoc
	url = git@github.com:whoisronnoc/scripts.git
